[alias]
  vgrep = "!f () { git grep --color=always \"$@\" | vgrep; }; f"
  ci = commit
  s = status
  st = stash
  sp = stash pop
  f = fetch
  r = rebase
  ri = rebase -i
  p = push
  pu = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
  co = checkout
  up = pull --rebase
  lg = log --oneline
  last = log -1 HEAD
  c = log -p -w --reverse @{u}..
  b = branch -vv
  fix = commit --amend --no-edit
  reword = commit --amend
  d = diff
  ds = diff --staged
  dw = diff --color-words
  dww = diff --color-words="[^[:space:],;:_]+"
  imerge = mergetool --tool=intellij
  pmerge = mergetool --tool=phpstorrm
  idiff = difftool --tool=intellij
  pdiff = difftool --tool=phpstorrm
[color]
  diff = auto
  status = auto
  branch = auto
[commit]
  verbose = true
[push]
  default = simple
[user]
  email = franz.thoma@tngtech.com
  name = Franz Thoma
[clean]
  requireForce = false
[rebase]
  autostash = true
[merge]
  tool = meld
[mergetool "intellij"]
  cmd = idea diff \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
  trustExitCode = true
[mergetool "phpstorm"]
  cmd = pstorm diff \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
  trustExitCode = true
[diff]
  tool = meld
[difftool "intellij"]
  cmd = idea diff \"$LOCAL\" \"$REMOTE\"
  trustExitCode = true
[difftool "phpstorm"]
  cmd = pstorm diff \"$LOCAL\" \"$REMOTE\"
  trustExitCode = true
[log]
  mailmap = true
[grep]
  lineNumber = true
[url "git://github.com/ghc/packages-"]
	insteadOf = git://github.com/ghc/packages/
[url "http://github.com/ghc/packages-"]
	insteadOf = http://github.com/ghc/packages/
[url "https://github.com/ghc/packages-"]
	insteadOf = https://github.com/ghc/packages/
[url "ssh://git@github.com/ghc/packages-"]
	insteadOf = ssh://git@github.com/ghc/packages/
[url "git@github.com:/ghc/packages-"]
	insteadOf = git@github.com:/ghc/packages/
[fetch]
	prune = true
