[submodule ".vim/bundle/vim-sneak"]
	path = .vim/bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/neco-ghc"]
	path = .vim/bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule ".vim/bundle/vim2hs"]
	path = .vim/bundle/vim2hs
	url = https://github.com/dag/vim2hs.git
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule ".vim/bundle/ghcmod-vim"]
	path = .vim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule ".vim/bundle/vim-devicons"]
	path = .vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".zsh/zaw"]
	path = .zsh/zaw
	url = https://github.com/zsh-users/zaw.git
[submodule ".zsh/fasd"]
	path = .zsh/fasd
	url = https://github.com/clvv/fasd.git
[submodule ".vim/bundle/vim-lengthmatters"]
	path = .vim/bundle/vim-lengthmatters
	url = https://github.com/whatyouhide/vim-lengthmatters.git
[submodule ".zsh/gradle-completion"]
	path = .zsh/gradle-completion
	url = git@github.com:fmthoma/gradle-completion.git
