[alias]
 ci = commit
 st = status --short
 co = checkout
 up = pull --rebase
 last = log -1 HEAD
 c = log -p -w --reverse @{u}..
 b = branch -vv
[color]
 diff = auto
 status = auto
 branch = auto
[push]
 default = simple
[user]
	email = franz.thoma@tngtech.com
	name = Franz Thoma
