#include ".Xresources.d/tango-colors.xresources"

Xft.dpi: 96

URxvt.saveLines: 10000
URxvt.scrollBar: false
URxvt.secondaryScroll: true
URxvt.font: xft:Ubuntu Mono derivative Powerline:size=12:dpi=96
URxvt.fading: 50
URxvt.depth: 32
URxvt.background: [90]#222222

! Fix ctrl+arrow and keypad in vim
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.KP_Add: +
URxvt.keysym.KP_Subtract: -
URxvt.keysym.KP_Multiply: *
URxvt.keysym.KP_Divide: /
URxvt.keysym.KP_Decimal: .
URxvt.keysym.KP_Separator : ,
URxvt.keysym.KP_1: 1
URxvt.keysym.KP_2: 2
URxvt.keysym.KP_3: 3
URxvt.keysym.KP_4: 4
URxvt.keysym.KP_5: 5
URxvt.keysym.KP_6: 6
URxvt.keysym.KP_7: 7
URxvt.keysym.KP_8: 8
URxvt.keysym.KP_9: 9
URxvt.keysym.KP_0: 0
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~

! Change font size on the fly
URxvt.perl-ext-common: font-size
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease

! Fix stupid ctrl+shift behaviour
URxvt.iso14755: false
URxvt.iso14755_52: false
